body{
    font-family: sans-serif;
}

#menu-superior{
    background: #eeb400;
}

#menu-superior a{
    color: #fff;
}

#apresentacao{
    background: #ffc901;
}

#apresentacao h1 {
    font-weight: bold;
    color: #fff;
    padding-top: 80px;
}

#apresentacao h5 {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn-applab-limpo {
    border: 2px solid;
    background-color: #ffc901;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

.btn-applab-limpo:hover {
    text-decoration: none;
}

.btn-applab{
    border: none;
    background-color:#00c4cf;
    color:#fff;
    font-weight: 500;
    padding: 10px;
}

#primario h1{
    background: #fff;
    padding-top: 40px;
}

#primario h5{
    margin-top: 15px;
    margin-bottom: 30px;
}

#texto{
    background: #ffc901;
    color: #fff;
    padding: center auto;
    padding-top: 40px;
}

#texto h1{
    text-align: center;
}

#texto h5{
    text-align: center;
    margin-bottom: 30px;
}

#imagem-celular{
    margin: auto;
}

#rodape{
    text-decoration: none;
    background: black;
    color: #fff;
    padding-top: 30px;
}

#rodape h3{
    text-align: auto;
}

ul{
    list-style: none;
}

#rodape li a{
    text-decoration: none;
    color: #fff;
}

#texto img{
    width: 400px;
    height: 200px;
    padding: 5px;
}

#rodape #outro h3{
    text-align: right;
}

#rodape #outro h5{
    text-align: right;
}

.my-3{
    margin-left: 230px;
}
